.vscode/**
.vscode-test/**
.github/**
src/**
out/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
test-parser.mjs
**/tsconfig*.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
